<!DOCTYPE html>
<html>
  <head>
    <title>{{ subject }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 12px; font-style: normal; margin: 0; color: #333333">
    <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td align="center">
          <table height="100%" cellpadding="5" cellspacing="0" border="0" style="max-width: 540px;">
            <tr>
              <td align="center" width="540">
                <img alt="CRM App" src="cid:Logo.png" style="margin: 20px" width="200">
              </td>
            </tr>
            <tr>
              <td align="left" width="540">
                {% block welcome %}
                  <p>
                    Hello,
                  </p>
                {% endblock %}
              </td>
            </tr>
            <tr>
              <td align="left" width="540">
                {% block content %}
                  <p>
                    Example content
                  </p>
                {% endblock %}
              </td>
            </tr>
            <tr>
              <td align="left" width="540">
                <p>
                  {% block signoff %}
                    CRM App
                  {% endblock %}
                </p>
              </td>
            </tr>
            <tr>
              <td align="center" width="540">
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
